@media only screen and (max-width: 600px) {
  body {
    padding: 10px 10px 10px 10px;
    font-family: monospace;
  }
}
@media only screen and (min-width: 600px) {
  body {
    padding: 10px 375px 10px 230px;
    font-family: monospace;
  }
}
a {
  text-decoration: none;
}
a:hover {
  background-color: yellow;
}
ul {
  font-size: 18px;
}
.list-red {
  color: rgb(182, 192, 182);
}
#heading1 {
  color: rgb(33, 163, 33);
  font-size: 72px;
  font-family: monospace;
}
#heading2 {
  color: rgb(103, 182, 103);
  font-size: 52px;
  font-family: monospace;
}
